  <button mat-icon-button style="float: right; margin: 2px;" matDialogClose>
    <mat-icon>close</mat-icon>
  </button>
  <mat-dialog-content>
    <header>
        <h2>Buy</h2>
    </header>
    <p><mat-form-field>
        <input matInput placeholder="ProductionId" [value]="buyproduction" readonly>
    </mat-form-field></p>
    <p><mat-form-field>
        <input matInput placeholder="buyAmount" [(ngModel)]="buyAmount" buyAmount="buyAmount">
    </mat-form-field></p>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="onSubmit()">Save</button>
    <button mat-raised-button color="warn" matDialogClose>Cancel</button>
  </mat-dialog-actions>
  